@tailwind base;
@tailwind components;
@tailwind utilities;

.monaco-editor .cursor {
    width: 3px;
    border-radius: 2px;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 50;
    }
}
